.index-page, .landing-page, .profile-page, .register-page{
	background-image: inherit;
	background-color: #fff;
}

.logo{
	max-width: 150px;
}

.navbar.navbar-top{
	padding: 15px 0px 40px;
	padding-top: 5px;
	margin-bottom: 15px;

	.sub-links{
		justify-content: flex-end;

		.navbar-nav{
			justify-content: flex-end;
		}
	}
}

.navbar.fixed-top{
	.navbar-nav li {
	    padding: 0 10px;
	    font-size: 16px;
	}
}
.content-left.brand{
	.h1-seo{
		font-size: 55px;
		color: $gray-800;
		text-transform: inherit;
	}

	h3{
		line-height: 30px;
	}

	.blue{
		color: $blue;
		font-weight: $font-weight-bold;
	}
}

h3, .h3 {
    font-size: 18px;
    font-weight: $font-weight-light;
}

.text-muted {
    color: $white !important;
}

.btn-primary{
	background-color: $orange;
	background-image: inherit;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover{
	background-color: $orange!important;
	background-image: inherit!important;
}

.btn-neutral.btn-light {
    background: $blue-light;
    color: $blue!important;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px!important;
}

.btn-neutral.btn-transparent {
    font-size: 16px;
    color: $gray-800!important;
    text-align: left;
    padding: 0px 20px;

    i {
	    width: 60px;
	    height: 60px;
	    line-height: 60px;
	    text-align: center;
	    background: $blue-light;
	    border-radius: 50%;
	    color: $green;
	}
}

#myModal{
	.modal-dialog{
		max-width: 800px;
	}
}

#services {
    padding: 0px 0px 70px;
    .col-md-4{
    	&:first-child{
    		.info{
    			&:after{
			    		content: '';
			    		width: 201px;
			    		height: 132px;
			    		background: url("../../assets/img/flecha.png");
			    		display: block;
			    		position: relative;
			    		top: 30px;
			    		left: 80px;
		    	} 
    		}	
    	}

    	&:nth-child(2){
    		.info{
    			&:after{
			    		content: '';
			    		width: 33px;
			    		height: 126px;
			    		background: url("../../assets/img/lapso.png");
			    		display: block;
			    		position: relative;
			    		margin: auto;
			    		top: 35px;
		    	} 
    		}	
    	}

    	&:last-child{
    		.info{
    			&:after{
			    		content: '';
			    		width: 201px;
			    		height: 132px;
			    		background: url("../../assets/img/flecha.png");
			    		display: block;
			    		position: relative;
			    		top: 30px;
			    		right: 30px;
			    		-moz-transform: scaleX(-1); /* Firefox */
						-o-transform: scaleX(-1); /* Opera */
						-webkit-transform: scaleX(-1); /* Chrome y Safari */
						transform: scaleX(-1); /* w3org */
    					z-index: -1;
		    	} 
    		}	
    	}
    	
    	.info{
	    	padding: 0px 50px;

	    	.info-title{
	    		color: $gray-800;
	    	}
	    	p{
	    		color: $gray-700;
	    	}


		}
		.info:first-of-type{
			padding-top: 60px;
		}
    }

    .info-description{
    	padding: 60px 0px 10px;
    }
    
    
}
    
.badge-neutral {
    background-color: $blue-light;
    padding: 10px 20px;
    border-radius: 15px;
    color: $green;
    font-weight: $font-weight-normal;
    text-transform: none!important;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
}

#planes{
	h1{
		line-height: 45px;
		margin-bottom: 20px;
	}

	p{
		color: $gray-700;
		margin-bottom: 40px;
	}

	.badge-neutral{
		margin-bottom: 15px;
	}

	.box{
		    background: transparent;
		    background-image: inherit;
		    color: #777777;
		    border: solid 1px #999999!important;
		    font-weight: 600!important;
		    padding: 12px 50px !important;
		    font-size: 16px!important;
		    position: relative;
		    overflow: inherit;

		    .badge-neutral {
			    position: absolute;
			    right: -35px;
				top: -14px;
			    background: $green;
			    color: $white;
			    font-size: 13px;
			    padding: 8px 10px;
			}
}
	&:active{
		border: solid 1px #377dff!important;
	}

	&:after{

	}

	.card-coin{
		border: none;
		-webkit-box-shadow: 0px 1px 3px 1px rgba(240,240,240,1);
		-moz-box-shadow: 0px 1px 3px 1px rgba(240,240,240,1);
		box-shadow: 0px 1px 3px 1px rgba(240,240,240,1);
		.card-header {
		    height: 160px;
		    background: #007eff!important;
		    position: relative;
		    display: block;
		    margin: 0px!important;
		    padding: 35px 30px;
		    position: relative;

		    h2{
		        font-size: 23px;
    			color: $white;
		    }

		    h3 {
			    font-size: 55px;
			    color: $white;
			    opacity: 1;
			    line-height: 30px;
			    font-weight: $font-weight-bold;

			    span.currencly {
				    font-size: 16px;
				    position: relative;
				    display: inline-block;
				    top: -30px;
				    font-weight: $font-weight-normal;
				}

				span.ciclo {
				    font-size: 16px;
				    position: relative;
				    display: inline-block;
				    font-weight: $font-weight-normal;
				    left: -5px;

				}

			}
			&:after{
				    left: 0px;
				    content: "";
				    position: absolute;
				    width: 100%;
				    height: 35px;
				    display: block;
				    background: url('../../assets/img/after_planes.png') repeat-x;
				    background-size: 100%;
				    bottom: -30px;
			}
		}

		.card-body{
			padding: 30px 30px 0px;
			.form-check{
				text-align: left;
				margin: 0px 0px;
				li{
					text-align: left;
					margin-bottom: 10px;

					.form-check-label{
						color: $gray-800;
						font-size: 15px;
						.form-check-sign{
							&:before{
							    width: 20px;
							    height: 20px;
							    border-radius: 50%;
							    background-color: $blue-light;
							    color: #333;
							}
							&:after{
							    width: 20px;
							    height: 20px;
							    color: $blue;
							    line-height: 20px;
							}
						}
					}
				}
				
			} 
		}
		.card-footer{
			padding: 20px 30px 20px;
			.btn-neutral.btn-light{
				width: 100%;
			}
		}
	}
	
}

#eventos{
	carousel{
		width: 100%;
		padding: 0px 60px;
		.carousel{
			margin-top: 40px;
			outline: none!important;
			.carousel-item{
				outline: none!important;

				.item-carousel{
					width: 100%;
					height: 430px;
					border: solid 1px #ddd;
					position: relative;

					.photo{
						position: absolute;
						height: 100%;
						width: 100%;
						object-fit: cover;
						top: 0px;

						.caption{
							position: absolute;
							top: 0px;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 100px 50px 50px;

							h4{
								color: #fff;
								font-size: 16px;
								font-weight: bold;
								text-align: center;
								position: relative;
								z-index: 1;
							}

							h3{
								font-size: 23px;
								color: #fff;
								font-weight: 500;
								text-align: center;
								position: relative;
								z-index: 1;
							}

							&:after{
								content: '';
								position: absolute;
								top: 0px;
								left: 0px;
								width: 100%;
								height: 100%;
								background: rgb(34,34,34);
								background: linear-gradient(0deg, rgba(34,34,34,1) 0%, rgba(255,255,255,0) 59%, rgba(255,255,255,0) 100%);
								display: block;
							}
						}

						.photo_hover{
							position: absolute;
							background: $white;
							width: 100%;
							height: 0;
							bottom: 0px;
							z-index: 1;
							opacity: 0;
							transition: height 0.3s;

							h4{
								color: $gray-800;
							    font-size: 16px;
							    font-weight: normal;
							}

							h3{
								font-size: 15px;
								color: $gray-800;
								font-weight: $font-weight-bold;
								margin-bottom: 10px;
							}

							.avatar{
								width: 50px;
								height: 50px;
								background: $gray-800;
								border-radius: 50%;
								margin: auto;
								overflow: hidden;

								img{
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}

							button{
								margin: 30px auto 0px; 
								text-align: center;
								display: block;
							}

						}
					}

					&:hover{

						.photo{
							.caption{
								&:after{
									display: none;
								}
							}

							.photo_hover{
								height: 100%;
								opacity: 1;

							}
						}

					}
				}
			}

			.carousel-control{
				display: block!important;
				width: 40px;
				height: 40px;
				background: $green;
				opacity: 1;
				top: 50%;
				margin-top: -20px;
				border-radius: 50%;
				line-height: 40px;

				.carousel-control-prev-icon{
					font-size: 15px;
					line-height: 40px;
					width: 14px;
				    height: 14px;
				    fill: #333!important;
				}

				.carousel-control-next-icon{
					font-size: 15px;
					line-height: 40px;
					width: 14px;
				    height: 14px;
				    fill: #333!important;
				}
			}
			.carousel-control-prev{
				left: -60px;
			}

			.carousel-control-next{
				right: -60px;
			}

			.carousel-indicators{
				bottom: -70px;
				li{
					background-image: none!important;
					width: 13px;
					height: 13px;
					background: $blue;
					border-radius: 50%;
					border: 2px solid #fff!important;
				}

				li.active{
					background: $white;
					border-radius: 50%;
					border: 2px solid $blue!important;
				}
			}

		}
	}
}

.footer{
	background: #fff;
	border-top: 1px solid #ddd!important;
	margin-top: 70px;
}