<nav
class="navbar navbar-expand-lg navbar-transparent navbar-top"
>
  <div class="container">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6 sub-links">
          <ul class="navbar-nav">
            <li class="dropdown nav-item" dropdown>
              <a
                class="nav-link"
              >
                Opción 1
              </a>
            </li>
            <li class="dropdown nav-item" dropdown>
              <a
                class="nav-link"
              >
                Contacts
              </a>
            </li>
            <li class="nav-item p-0">
              <a
                class="nav-link"
                href="#"
                placement="bottom"
                tooltip="Buscar"
              >
                <i class="fas fa-search"></i>
                <p class="d-lg-none d-xl-none">Buscar</p>
              </a>
            </li>
            <li class="nav-item p-0">
              <a
                class="nav-link"
                href="#"
                placement="bottom"
                tooltip="Añadir al carrito"
              >
                <i class="fas fa-shopping-cart"></i>
                <p class="d-lg-none d-xl-none">Carrito</p>
              </a>
            </li>
            <li class="nav-item p-0">
              <a
                class="nav-link"
                href="#"
                placement="bottom"
                tooltip="Iniciar sesión"
              >
                <i class="fas fa-user-circle"></i>
                <p class="d-lg-none d-xl-none">Iniciar sesión</p>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        [routerLink]="['/home']"
        target="_blank"
        tooltip="Designed and Coded by Creative Tim"
      >
        <img class="logo" src="assets/img/lucasian-logo.png" />
      </a>
      <button
        aria-controls="navigation-index"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed"
        (click)="isCollapsed = !isCollapsed"
        id="navigation"
        type="button"
      >
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div
      class="navbar-collapse justify-content-end"
      [collapse]="isCollapsed"
      id="navigation"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> BLK• </a></div>
          <div class="col-6 collapse-close text-right">
            <button
              aria-controls="navigation-index"
              aria-label="Toggle navigation"
              class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed"
              (click)="isCollapsed = !isCollapsed"
              id="navigation"
              type="button"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menú 1
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a
              class="dropdown-item"
              href="#"
            >
              <i class="tim-icons icon-paper"> </i> Item 1
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-bullet-list-67"> </i> Item 2
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-image-02"> </i> Item 3
            </a>
          </div>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menú 2
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a
              class="dropdown-item"
              href="#"
            >
              <i class="tim-icons icon-paper"> </i> Item 1
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-bullet-list-67"> </i> Item 2
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-image-02"> </i> Item 3
            </a>
          </div>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menú 3
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a
              class="dropdown-item"
              href="#"
            >
              <i class="tim-icons icon-paper"> </i> Item 1
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-bullet-list-67"> </i> Item 2
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-image-02"> </i> Item 3
            </a>
          </div>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menú 4
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a
              class="dropdown-item"
              href="#"
            >
              <i class="tim-icons icon-paper"> </i> Item 1
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-bullet-list-67"> </i> Item 2
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-image-02"> </i> Item 3
            </a>
          </div>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Menú 5
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <a
              class="dropdown-item"
              href="#"
            >
              <i class="tim-icons icon-paper"> </i> Item 1
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-bullet-list-67"> </i> Item 2
            </a>
            <a class="dropdown-item" [routerLink]="['/#']">
              <i class="tim-icons icon-image-02"> </i> Item 3
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-simple d-none d-lg-block"
            data-target="#myModal2"
            (click)="myModal2.show()"
          >
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="container">
      <div class="content-left brand">
        <h1 class="h1-seo">Título</h1>
        <h3>
          Contenido <span class="blue">more profesional</span><br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
        </h3>
        <button class="btn btn-primary btn-simple btn-neutral btn-light" type="button">
          Get started
        </button>
        <button class="btn btn-neutral btn-transparent"
        data-target="#myModal"
        (click)="myModal.show()"
        type="button"
         >
          <i class="fas fa-play"></i> Play video
        </button>
      </div>
      <div class="content-right">
        <img class="featured" src="assets/img/featured.png" />
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-basic" id="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <span class="badge badge-neutral text-center"> ¿Necesitas ayuda? </span>
            </div>
            <h1 class="text-center">Nuestros servicios</h1>
            <div class="row row-grid justify-content-center">
              <div class="col-md-4">
                <div class="info text-center">
                  <div class="icon icon-primary">
                    <img src="assets/img/servicio1.png">
                  </div>
                  <h4 class="info-title">Servicio 1</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info text-center">
                  <div class="icon icon-primary">
                    <img src="assets/img/servicio2.png">
                  </div>
                  <h4 class="info-title">Servicio 2</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info text-center">
                  <div class="icon icon-primary">
                    <img src="assets/img/servicio3.png">
                  </div>
                  <h4 class="info-title">Servicio 3</h4>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <h4 class="text-center info-description"><b>Lorem Ipsum is simply dummy text of the printing and typesetting</b><br>
            industry. Lorem Ipsum has been the industry's standard dummy<br>
            text ever since the 
            </h4>
          </div>

          <div class="col-md-12">

            <div class="row row-grid justify-content-center">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                <img src="assets/img/ovalo.PNG">
              </div>
              <div class="col-md-1">
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="section section-basic" id="planes">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row row-grid justify-content-left">
              <div class="col-md-5">
                <div class="text-left">
                  <span class="badge badge-neutral text-center"> Oferta </span>
                </div>
                <h1 class="text-left">Contenido extra<br>
                en todos nuestros planes<br>
                el día de hoy</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. Lorem Ipsum has been</p>

                <button type="button" class="btn btn-primary btn-simple btn-neutral btn-light box" (click)="tabToggle(1)"> Mes </button>

                <button type="button" class="btn btn-primary btn-simple btn-neutral btn-light box" (click)="tabToggle(2)"><span class="badge badge-neutral text-center"> 10% OFF </span> Año </button>

              </div>
              <div class="col-md-7">
                <div *ngIf="showTab == 1" class="row row-grid justify-content-left align-items-center">

                  <div class="col-md-6">
                    <div class="card card-coin card-plain">
                      <div class="card-header">
                        <h2>Plan 1</h2>
                        <h3><span class="currencly">$</span>22 <span class="ciclo">/month</span></h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <ul class="list-group form-check">
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 1
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 2
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 3
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 4
                              </label>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer text-center">
                        <button type="button" class="btn btn-primary btn-simple btn-neutral btn-light"> Opción 1 </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card card-coin card-plain">
                      <div class="card-header">
                        <h2>Plan 2</h2>
                        <h3><span class="currencly">$</span>99 <span class="ciclo">/month</span></h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <ul class="list-group form-check">
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 1
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 2
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 3
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 4
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 5
                              </label>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer text-center">
                        <button type="button" class="btn btn-primary btn-simple btn-neutral btn-light"> Opción 2 </button>
                      </div>
                    </div>
                  </div>
                
                </div>


                <div *ngIf="showTab == 2" class="row row-grid justify-content-left align-items-center">

                  <div class="col-md-6">
                    <div class="card card-coin card-plain">
                      <div class="card-header">
                        <h2>Plan 1</h2>
                        <h3><span class="currencly">$</span>150 <span class="ciclo">1/year</span></h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <ul class="list-group form-check">
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 1
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 2
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 3
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 4
                              </label>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer text-center">
                        <button type="button" class="btn btn-primary btn-simple btn-neutral btn-light"> Opción 1 </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card card-coin card-plain">
                      <div class="card-header">
                        <h2>Plan 2</h2>
                        <h3><span class="currencly">$</span>350 <span class="ciclo">3/years</span></h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <ul class="list-group form-check">
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 1
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 2
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 3
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 4
                              </label>
                            </li>
                            <li class="list-group-item">
                              <label class="form-check-label">
                                <input
                                  checked="checked"
                                  class="form-check-input"
                                  type="checkbox"
                                />

                                <span class="form-check-sign"> </span> Opción 5
                              </label>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="card-footer text-center">
                        <button type="button" class="btn btn-primary btn-simple btn-neutral btn-light"> Opción 2 </button>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-basic" id="eventos">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <span class="badge badge-neutral text-center"> Eventos </span>
            </div>
            <h1 class="text-center">Próximos eventos</h1>
          </div>

          <div class="col-md-12">
            <h4 class="text-center info-description">Lorem Ipsum is simply dummy text of the printing and typesetting<br>
            industry. Lorem Ipsum has been the industry's standard dummy<br>
            text ever since the 
            </h4>
          </div>

          <div class="col-md-12">
            <div class="row row-grid justify-content-center">
              
              <carousel [showIndicators]="true" [autoPlay]="false">
                <slide *ngFor="let events of users;let i =index;">
                  <div class="row">
                    <div class="col-md-4" *ngFor="let slider of events; let a = index;">
                      <div class="item-carousel">
                        <div class="photo">
                          <img
                            alt="First slide"
                            class="d-block w-100"
                            src="https://picsum.photos/200/300?random={{ a+1 }}{{ i+1 }}"
                          />
                          <div class="caption">
                            <div>
                              <h3>{{slider.company.catchPhrase}}</h3>
                              <h4>{{slider.email}}</h4>
                            </div>
                          </div>
                          
                          <div class="photo_hover">
                            <div class="caption">
                              <div>
                                <h4>{{slider.company.catchPhrase}}</h4>
                                <h3>{{slider.name}}</h3>
                                <div class="avatar">
                                  <img src="https://i.pravatar.cc/150?u={{ a+1 }}{{ i+1 }}">
                                </div>
                                <button class="btn btn-primary btn-simple btn-neutral btn-light" type="button">
                                  Ver más
                                </button>

                              </div>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </slide>
                
                
              </carousel>
              
            </div>

          </div>


        </div>
      </div>
    </div>

    
    
    <div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade"
      #myModal="bs-modal"
      id="myModal"
      role="dialog"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
              aria-hidden="true"
              class="close"
              data-dismiss="modal"
              type="button"
              (click)="myModal.hide()"
            >
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
            <div class="text-muted text-center ml-auto mr-auto">
              <h3 class="mb-0">UI / UX</h3>
            </div>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/6DdUkxajANs" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    
    <div
      aria-hidden="true"
      aria-labelledby="myModalLabel"
      bsModal
      class="modal fade modal-black"
      #myModal2="bs-modal"
      id="myModal2"
      role="dialog"
      tabindex="-1"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button
              aria-hidden="true"
              class="close"
              data-dismiss="modal"
              (click)="myModal2.hide()"
              type="button"
            >
              <i class="tim-icons icon-simple-remove text-white"> </i>
            </button>
            <div class="text-muted text-center ml-auto mr-auto">
              <h3 class="mb-0">Iniciar sesión con:</h3>
            </div>
          </div>
          <div class="modal-body">
            <div class="btn-wrapper text-center">
              <a
                class="btn btn-neutral btn-icon mr-1"
                href="javascript:void(0)"
              >
                <img src="assets/img/github.svg" />
              </a>
              <a class="btn btn-neutral btn-icon" href="javascript:void(0)">
                <img src="assets/img/google.svg" />
              </a>
            </div>
            <div class="text-center text-muted mb-4 mt-3">
              <small> O ingresa tus credenciales </small>
            </div>
            <form role="form">
              <div class="form-group mb-3">
                <div
                  class="input-group input-group-alternative"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-email-85"> </i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Correo electrónico"
                    type="email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
              </div>
              <div class="form-group">
                <div
                  class="input-group input-group-alternative"
                  [ngClass]="{ 'input-group-focus': focus2 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="tim-icons icon-key-25"> </i>
                    </span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Contraseña"
                    type="password"
                    (focus)="focus2 = true"
                    (blur)="focus2 = false"
                  />
                </div>
              </div>
              <div class="form-check mt-3">
                <label class="form-check-label">
                  <input
                    checked="checked"
                    class="form-check-input"
                    type="checkbox"
                  />

                  <span class="form-check-sign"> </span> Recordar contraseña
                </label>
              </div>
              <div class="text-center">
                <button class="btn btn-primary my-4" type="button">
                  Iniciar sesión
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <img class="logo" src="assets/img/lucasian-logo.png" />
      </div>
    </div>
  </footer>
</div>
